body{
    background-color: rgb(247, 181, 181);

}
.bg{
    background-color: rgb(248, 240, 240);

}


/* ----------- header -----------*/

header{
    width: 90%;
    height: 110vh;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background: url("../images/background.jpg") center;
    position: relative;
    margin: auto auto;

}


.logo{
    margin-top:40px;
    margin-left: 100px;

}

/* ----navigation----- */


.nav{
    flex-direction: row;

}
.nav li{
    margin-right: 30px;
    margin-top: 40px;
    color: white;
}
.nav a{ 
    color: #fff;
    text-decoration: none;
}
.nav a:hover{
    color: black;
}


ul li .sign-in{
    border: 1px solid #fff;
    border-radius: 10px;
    padding:15px;
}
ul li .sign-in:hover{
    background-color: #fff;
}
/* ---------end of header---------- */


.center-box{
    text-align: center;
    color: #fff;
    margin: auto auto;
    padding-top: 200px;
    animation-name: appear;
    animation-duration: 2s;

}
.center-box h2{
    font-size: 55px;
    font-weight: 600;
}
.center-box p{
    width: 300px;
    margin: auto auto;
    margin-top: 20px;

}
.btn-center-box{
    background-color: #e76f51;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 30px;
    color: #fff;
}
.btn-center-box:hover{
    background-color: #fff;
    color: #e76f51;
}
.single-img{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    height: 200px;
    
}
.tiles{
    display: flex;
    position: absolute;
    bottom: -30%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.space{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20%;
}
.space img{
    margin-bottom: 20px;
}
.space h2{
    font-weight: bold;
}


/* ------center images four in line------ */

.four-inline img{
    opacity: 0.9;
}
.four-inline img:hover{
    opacity : 1;
    filter : alpha(opacity=1);
    box-shadow: 10px 10px 10px gray;
}
.one-of{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    position: relative;
    overflow:hidden;
}
.one-of p{
    font-size: 10px;
}
.one-of     img{
    border-radius: 20px;
}
.one-of h5{
    padding: 5px;
    font-weight: 800;
    font-size: 13px;
}
.heart{
    position: absolute;
    top: 30px;
    right: 15%;
}
.btn-light{
    padding: 5px 25px;
    border-radius: 30px;
    background-color: #d6d0d0;
    opacity: 0.7;
}

.view-all{
    text-align: center;
    margin: 100px auto;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid #e97b60;
    opacity: 0.8;
}


.view-all:hover{
    cursor: pointer;
    opacity: 1;
    background-color: #e97b60;
}
.view-all a{
    color:#d43007;
    text-decoration: none;
}
.view-all a:hover{
    color: #FFF;
}
 /* -------end of center images------  */




/* footer */

/* email and tent */

.email-box{
    background: linear-gradient(0.25turn, #f8beb0, #fff5f2);
    position: relative;
    padding: 50px 20px;
    margin-left: 20px;
    border-radius: 20px;
}
.email-box h3{
    text-align: center;
}
.tent-box{
    margin-top: 20px;
}
.form-control{
    padding: 30px;
    margin-top: 20px;
}
.email-box img{
    position: absolute;
    right: 9%;
    bottom: 25%;
}
/* end of email and tent */

/* footer-box */



footer{
    background-color: #f9c6ba;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    font-size: 14px;
    margin-top: 40px;
}
.footer-box{
    margin-top: 50px;
    
}
.footer-box img{
    padding: 20px 10px;
    margin-top: 40px;
}
.footer-nav .nav-link{
    color:#000;
    font-size: 12px;
}
.our-app{
    margin-top: 60px;
    text-align: center;
}

.app-images{
    order: 3;
}


.nav-link{
    color: #000;
    opacity: 0.8;
}
.nav-link:hover{
    opacity: 1;
    color: #000;
}
.nav-link{
    padding:5px;
}
.column{
    margin: 0px 30px;
}
.right-side-footer{
    display: flex;
    margin-top:55px;
    align-items: center;
    flex-direction: row;
}

.copyright{
    margin: 50px auto 0px auto;
}

/* -----media queries----- */

@media (max-width: 570px) {
    .tiles {
    flex-direction: column;
      margin-top: 300px;
      position: relative;
    }
  }
@media (max-width: 776px) {
    .tiles {
    flex-direction: column;
      margin-top: 300px;
      position: relative;
    }
  }

  @media (max-width: 990px) {
    .tiles {
      flex-wrap: wrap;
      margin-top: 300px;
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  

/* keyframes */
  
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}